{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    {% include 'navbar.html' %}
    <video autoplay muted loop id="background" style="min-width: 100%; position: fixed; right: 0;">
      <source src="{% static 'background_video.mp4' %}" type="video/mp4">

    </video>
    <div style="width: 50%; margin-left: 25%; margin-top: 15%; text-align:center; position: absolute;" class="v-flex justify-content-center">
        <h1 style="color: white; font-size: 50px; margin-bottom: .5cm; font-family: 'Copperplate'">Welcome to</h1>
        <img src="{% static 'navlogo_centered.png' %}" class="bi me-2" style="width:auto;" height="60px" role="img" aria-label="Cola Co logo"></img>
        <div>
          <button type="button" style="font-family: 'Copperplate'; margin-top:1cm;" class="btn btn-light">Have a drink</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
