{% load static %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{% static 'navlogo.png' %}" class="bi me-2" width="150px" role="img" aria-label="Cola Co logo"></img>
        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="{% url 'vendingpage' %}" class="nav-link px-2 link-primary">Vending Machine</a></li>
        </ul>

        <div class="col-md-3 text-end">
            {% if not request.session.userID %}
                <button type="button" onclick="window.location.href={% url 'signup' %}" class="btn btn-outline-primary me-2">Sign up</button>
                <button type="button" onclick="window.location.href={% url 'login' %}" class="btn btn-primary">Login</button>
            {% else %}
                <h5 class="text-muted text-center" id="payment" style="vertical-align: middle; display: inline; margin-right:.5cm;">💰 ${{request.session.money}} 💰</h5> 
                <button type="button" onclick="window.location.href={% url 'logout' %}" class="btn btn-outline-primary me-2">Log out</button>
            {% endif %}
        </div>
    </header>
</div>